<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136395129148-m2q63mbamfddvijd1iek4j72ml524j9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136395129148-m2q63mbamfddvijd1iek4j72ml524j9a</string>
	<key>API_KEY</key>
	<string>AIzaSyA3HCH1b_TG7Iy3Ik78iDj2IexZ4LvI7OM</string>
	<key>GCM_SENDER_ID</key>
	<string>136395129148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airbnbClone</string>
	<key>PROJECT_ID</key>
	<string>airbnb-clone-50715</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-clone-50715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136395129148:ios:41d8900aa18e6d2d271e39</string>
</dict>
</plist>